{% extends 'base.html.twig' %}

{% block title %}| About us{% endblock %}

{% block body %}
    <section class="page-heading-section bg-image before-bg"
             style="background-image: url(dist/images/header/p-header4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">about us</h2>
                    </div><!--/.page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->

    <!--=======About Page
    ================================-->
    <div class="about-page page-wrapper">
    <section id="standard-section" class="our-standard-section s-pd1">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h6 class="textspace">FIMAC University Togo is one of the country's leading private universities. An
                        anchor institution in Lomé, a global center for humanities, social sciences, science and
                        Engineering for both bachelors and master degrees. Fimac university diverse curricular offerings
                        provide extensive opportunities for interdisciplinary study and affiliations with leading
                        universities like EC-Council in the US for system security, Salle lille in Accounting and
                        Microsoft to run their certification examinations.
                        <br>
                        Founded in 2011, Fimac University has evolved into one of Togo's leading institution of learning, discovery and knowledge creation. We are proud to be one of the country's top  universities, driven to learn and innovate.
                    </h6>
                </div>
            </div>
        </div>
    </section>

    <section id="standard-section" class="our-standard-section s-pd1">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center pt-0 pb-2">
                        <h2 class="section-heading">Study and Lifestyle </h2>
                    </div>
                </div><!--/.col-lg-8-->
            </div><!--/.row-->
            <div class="row">
                <h6 class="textspace pb-2">The lecture rooms are very conducive for learning with good teacher-student
                    relationship and affordable housing system serenaded by a peaceful and safe environment.</h6>
                <div class="col-lg-6 col-md-12">
                    <img class="img-fluid border-radius" src="{{ asset('dist/images/classroom.jpeg') }}" alt="img">
                </div><!--/.col-lg-6-->
                <div class="col-lg-6 col-md-12">
                    <div id="accordion" class="our-standard-content" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default single-standard">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">OUR STUDENTS</a>
                                </h3>
                            </div><!--/.panel-heading-->
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                                <div class="single-standard-content">
                                    <p>Our students have the opportunity to learn from and work with preeminent thought leaders through our multidisciplinary network of teaching and research faculty, alumni and partners. The ideas, innovations and actions of our graduates continue to have a positive impact on the world.</p>
                                </div>
                            </div><!--/.panel-collapse-->
                        </div><!--/.single-standard-->
                        <div class="panel panel-default single-standard">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo">VISION STATEMENT </a>
                                </h3>
                            </div><!--/.panel-heading-->
                            <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel">
                                <div class="single-standard-content">
                                    <p> Fimac University is dedicated to fostering an academic community in which the learning and living conditions of every member may flourish, with vigilant protection for individual human rights, and a resolute commitment to the principles of equal opportunity, equity and justice</p>
                                </div>
                            </div><!--/.panel-collapse-->
                        </div><!--/.single-standard-->
                        <div class="panel panel-default single-standard">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree">WHO WE ARE</a>
                                </h3>
                            </div><!--/.panel-heading-->
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                                <div class="single-standard-content">
                                    <p>Fimac university is home to some of the world’s most talented thinkers, inventors, innovators, and educators, who are advancing knowledge and making critical discoveries for a healthier, more sustainable, prosperous, and secure future.
                                        Consistently ranked among the top private universities in the country, Fimac has remarkable strengths in disciplines that span the humanities, social sciences, sciences and the Engineering.</p>
                                </div>
                            </div><!--/.panel-collapse-->
                        </div><!--/.single-standard-->
                    </div><!--/.our-standard-content-->
                </div><!--/.col-lg-6-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->
{% endblock %}