{% extends 'base.html.twig' %}

{% block title %}| University{% endblock %}

{% block body %}
    <div id="home-search-section" class="home-search-section-area bg-image home-header-one" style="background-image: url(dist/images/welcome-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-text text-center tb">
                        <div class="tb-cell">
                            <h1>Learn anything to anyone from anywhere</h1>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint.</p>
                            <form class="product-search-form" action="#" method="get">
                                <div class="form-group">
                                    <input class="form-controllar" name="search" placeholder="Search here" type="text">
                                    <button class="btn btn-default btn-primary" type="submit">search</button>
                                </div>
                            </form><!--/.product-search-form-->
                        </div><!--/.tb-cell-->
                    </div><!--/.welcome-text-->
                </div><!--/.col-lg-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/#home-search-section-->

    <section id="services-section" class="services-section-area s-pd1">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">This is what we offer you</h2>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia est deserunt mollit anim laborum. Sed perspiciatis unde omnis iste natus.</p>
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-service text-center">
                        <div class="icon">
                            <img src="{{ asset('dist/images/icon/s-icon1.png') }}" alt="icon">
                        </div>
                        <h3>Expert Instractors</h3>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div><!--/.single-service-->
                </div><!--/.col-lg-4-->
                <div class="col-lg-4 col-md-4">
                    <div class="single-service text-center">
                        <div class="icon">
                            <img src="{{ asset('dist/images/icon/s-icon2.png') }}" alt="icon">
                        </div><!--/.row-->
                        <h3>Learn Anywhere</h3>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  enim ad minim veniam.</p>
                    </div><!--/.single-service-->
                </div><!--/.col-lg-4-->
                <div class="col-lg-4 col-md-4">
                    <div class="single-service text-center">
                        <div class="icon">
                            <img src="{{ asset('dist/images/icon/s-icon3.png') }}" alt="icon">
                        </div><!--/.row-->
                        <h3>Unlimited Access</h3>
                        <p>Sed do eiusmod tempor incididunt ut  labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div><!--/.single-service-->
                </div><!--/.col-lg-4-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section>

    <section class="our-partners-section s-pd2">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">Our Partners</h2>
                    </div><!--/.section-heading-area-->
                </div><!--/.col-lg-8-->
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <div id="client-carousel" class="owl-carousel">
                        <div class="single-logo">
                            <img src="{{ asset('dist/images/logos/1.png') }}" alt="img">
                        </div>
                        <div class="single-logo">
                            <img src="{{ asset('dist/images/logos/2.png') }}" alt="img">
                        </div>
                        <div class="single-logo">
                            <img src="{{ asset('dist/images/logos/3.png') }}" alt="img">
                        </div>

                    </div><!--/.client-carousel-->
                </div><!--/.col-lg-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section>
{% endblock %}
