<footer id="footer" class="site-footer">
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Become A Part of FIMAC UNIVERSITY Today</h2>
                </div><!--/.col-lg-9-->
                <div class="col-lg-3 text-right">
                    <a href="#" class="btn btn-default">get started</a>
                </div><!--/.col-lg-3-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.footer-top-area-->

    <!-- Start footer widgets area -->
    <div class="footer-widgets-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-6">
                    <div class="footer-widget">
                        <img src="{{ asset('dist/images/logow.png') }}" class="header-logo" alt="logo"> <br>
                        <i class="fa fa-phone"></i> +228 96 28 17 61 | 96 93 19 10 <br>
                        <i class="fa fa-envelope"></i> contact@fimacuniversity.com <br>
                        <i class="fa fa-map-marker"></i> Quartier Adidoadin-fin pavé Lomé Togo
                    </div><!--/.footer-widget-->
                </div><!--/.col-lg-3-->
                <div class="col-lg-3 col-sm-6 col-6">
                    <div class="footer-widget">
                        <h4 class="footer-title">Navigation</h4>
                        <ul class="footer-widget-list list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!--/.footer-widget-->
                </div><!--/.col-lg-3-->
                <div class="col-lg-6 col-sm-12">
                    <div class="footer-newsletter footer-widget">
                        <h4 class="footer-title">Newsletter</h4>
                        <p>Enter your email and we'll send you more information.</p>
                        <form class="newsletter-form">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Your email address">
                                <button type="submit" class="btn btn-default btn-primary">Subscribe</button>
                            </div>
                        </form>
                    </div><!--/.footer-newsletter-->
                </div><!--/.col-lg-6-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!-- End footer widgets area -->

    <!-- Start footer copyright area -->
    <div class="footer-copyright-area bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        {{ 'now'|date('Y') }} &copy; Copyrighted by <a href="#" class="text-white">FIMAC UNIVERSITY.</a> Design done by <a href="https://www.linkedin.com/in/radji-mubarak-51345011a" target="_blank" style="text-decoration: none; color: #ffffff">Visionaries-Studio</a>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--End footer copyright area -->
</footer>