<header id="site-header" class="header-area">
    <div class="header-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-menu-wrap hidden-xs hidden-sm">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{{ asset('dist/images/logo.png') }}" class="header-logo" alt="logo">
                            </a>
                        </div><!--/.logo-->
                        <nav class="menu">
                            <ul id="nav">
                                <li><a href="{{ path('default') }}">home</a></li>
                                <li><a href="{{ path('aboutus') }}">about us</a></li>
                                <li><a href="#">admission</a></li>
                                <li><a href="#">events</a></li>
                                <li><a href="#">faq</a></li>
                                {#<li class="dropdown-trigger"><a href="#">Courses</a>#}
                                    {#<ul class="dropdown-content">#}
                                        {#<li><a href="courses.html">courses</a></li>#}
                                        {#<li><a href="single-course.html">course Details</a></li>#}
                                    {#</ul>#}
                                {#</li>#}

                            </ul>
                        </nav><!--/.menu-->
                        <div class="register-contact-nav pull-right">
                            <div class="login">
                                <a href="#" title="">Register</a>
                                <a href="#" title="">Login</a>
                            </div>
                            <a class="btn btn-default" href="#">contact</a>
                        </div><!--/.register-contact-nav-->
                    </div><!--/.logo-menu-wrap-->
                </div><!--/.col-lg-12-->
            </div><!--/.row-->
        </div><!--/.container-fluid-->
    </div><!--/.headier-inner-->

    <div id="sticky-header"></div><!--/#sticky-header-->

    <!--Mobile Menu-->
    <div class="mobile-menu">
        <a class="mobile-logo" href="index.html"><img src="{{ asset('dist/images/logo.png') }}" alt="logo"></a>
    </div>
</header><!--/.header-area-->