<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}FIMAC{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('dist/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/plugins.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/style.css') }}" rel="stylesheet">
        <script src="{{ asset('dist/js/vendor/modernizr-2.8.3.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {{ include('blocks/header.html.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
        {{ include('blocks/footer.html.twig') }}
        {% endblock %}
        {% block javascripts %}
    <script src="{{ asset('dist/js/jquery-v3.2.1.min.js') }}"></script>
    <!-- Popper JS -->
    <script src="{{ asset('dist/js/popper.min.js') }}"></script>
    <!-- Bootstrap framework JS -->
    <script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
    <!-- All JS plugins included in this file. -->
    <script src="{{ asset('dist/js/plugins.js') }}"></script>
    <!-- Main JS file that contents all jQuery Plugins activation. -->
    <script src="{{ asset('dist/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
